
<div class="jumbotron" style="background-color: #90A4AE">
    <div class="jumbotron"style="color: #3c3c3c">
        <center><font size="7" color="#455A64">ผู้จัดทำ</font>
            <br><br><br>
            <table style="font-size: 20px" class="table" >

                <tr>
                    <th>ชื่อ - นามสกุล</th>
                    <th> รหัสนักศึกษา</th>
                    <th> กลุ่ม</th>
                </tr>
                <tr>
                    <th>นายศราวุฒิ  วรนาม</th>
                    <th>60342360108-8</th>
                    <th>BIS4Q</th>
                </tr>

                <tr>
                    <th>นายเกียรติศักดิ์  สีคำ</th>
                    <th>60342360110-6</th>
                    <th>BIS4Q</th>
                </tr>
            </table>
        </center>
    </div>
</div>
