@(B1:Pproducts,B2:Pproducts,B3:Pproducts,B4:Pproducts,B5:Pproducts,B6:Pproducts)
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/001.jpg" alt="...">
            <div class="caption">
                <h4>@B1.getPname</h4>
                <h5>
                    รหัสสินค้า : @B1.getPid<br>
                    ราคา :@B1.getPprice<br>
                    สิ้นค้าคงเหลือ : @B1.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="height: 300px">
        <div class="thumbnail">
            <img src="assets/images/002.jpg" alt="...">
            <div class="caption">
                <h4>@B2.getPname</h4>
                <h5>
                    รหัสสินค้า : @B2.getPid<br>
                    ราคา :@B2.getPprice<br>
                    สิ้นค้าคงเหลือ : @B2.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="height: 300px">
        <div class="thumbnail">
            <img src="assets/images/003.jpg" alt="...">
            <div class="caption">
                <h4>@B3.getPname</h4>
                <h5>
                    รหัสสินค้า : @B3.getPid<br>
                    ราคา :@B3.getPprice<br>
                    สิ้นค้าคงเหลือ : @B3.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/004.jpg" alt="...">
            <div class="caption">
                <h4>@B4.getPname</h4>
                <h5>
                    รหัสสินค้า : @B4.getPid<br>
                    ราคา :@B4.getPprice<br>
                    สิ้นค้าคงเหลือ : @B4.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/005.jpg" alt="...">
            <div class="caption">
                <h4>@B5.getPname</h4>
                <h5>
                    รหัสสินค้า : @B5.getPid<br>
                    ราคา :@B5.getPprice<br>
                    สิ้นค้าคงเหลือ : @B5.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/006.jpg" alt="...">
            <div class="caption">
                <h4>@B6.getPname</h4>
                <h5>
                    รหัสสินค้า : @B6.getPid<br>
                    ราคา :@B6.getPprice<br>
                    สิ้นค้าคงเหลือ : @B6.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>