@(D1 : Pproducts,D2:Pproducts,D3:Pproducts,D4:Pproducts,D5:Pproducts,D6:Pproducts)
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/1.jpg" alt="...">
            <div class="caption">
                <h4>@D1.getPname</h4>
                <h5>
                    รหัสสินค้า : @D1.getPid<br>
                    ราคา :@D1.getPprice<br>
                    สิ้นค้าคงเหลือ : @D1.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="height: 300px">
        <div class="thumbnail">
            <img src="assets/images/2.jpg" alt="...">
            <div class="caption">
                <h4>@D2.getPname</h4>
                <h5>
                    รหัสสินค้า : @D2.getPid<br>
                    ราคา :@D2.getPprice<br>
                    สิ้นค้าคงเหลือ : @D2.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="height: 300px">
        <div class="thumbnail">
            <img src="assets/images/3.jpg" alt="...">
            <div class="caption">
                <h4>@D3.getPname</h4>
                <h5>
                    รหัสสินค้า : @D3.getPid<br>
                    ราคา :@D3.getPprice<br>
                    สิ้นค้าคงเหลือ : @D3.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/4.jpg" alt="...">
            <div class="caption">
                <h4>@D4.getPname</h4>
                <h5>
                    รหัสสินค้า : @D4.getPid<br>
                    ราคา :@D4.getPprice<br>
                    สิ้นค้าคงเหลือ : @D4.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/5.jpg" alt="...">
            <div class="caption">
                <h4>@D5.getPname</h4>
                <h5>
                    รหัสสินค้า : @D5.getPid<br>
                    ราคา :@D5.getPprice<br>
                    สิ้นค้าคงเหลือ : @D5.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/6.jpg" alt="...">
            <div class="caption">
                <h4>@D6.getPname</h4>
                <h5>
                    รหัสสินค้า : @D6.getPid<br>
                    ราคา :@D6.getPprice<br>
                    สิ้นค้าคงเหลือ : @D6.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>