@(F1:Pproducts,F2:Pproducts,F3:Pproducts,F4:Pproducts,F5:Pproducts,F6:Pproducts)
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/0.jpg" alt="...">
            <div class="caption">
                <h4>@F1.getPname</h4>
                <h5>
                    รหัสสินค้า : @F1.getPid<br>
                    ราคา :@F1.getPprice<br>
                    สิ้นค้าคงเหลือ : @F1.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="height: 300px">
        <div class="thumbnail">
            <img src="assets/images/00.jpg" alt="...">
            <div class="caption">
                <h4>@F2.getPname</h4>
                <h5>
                    รหัสสินค้า : @F2.getPid<br>
                    ราคา :@F2.getPprice<br>
                    สิ้นค้าคงเหลือ : @F2.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="height: 300px">
        <div class="thumbnail">
            <img src="assets/images/000.jpg" alt="...">
            <div class="caption">
                <h4>@F3.getPname</h4>
                <h5>
                    รหัสสินค้า : @F3.getPid<br>
                    ราคา :@F3.getPprice<br>
                    สิ้นค้าคงเหลือ : @F3.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/0000.jpg" alt="...">
            <div class="caption">
                <h4>@F4.getPname</h4>
                <h5>
                    รหัสสินค้า : @F4.getPid<br>
                    ราคา :@F4.getPprice<br>
                    สิ้นค้าคงเหลือ : @F4.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/00000.jpg" alt="...">
            <div class="caption">
                <h4>@F5.getPname</h4>
                <h5>
                    รหัสสินค้า : @F5.getPid<br>
                    ราคา :@F5.getPprice<br>
                    สิ้นค้าคงเหลือ : @F5.getPamount
                </h5>

                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/000000.jpg" alt="...">
            <div class="caption">
                <h4>@F6.getPname</h4>
                <h5>
                    รหัสสินค้า : @F6.getPid<br>
                    ราคา :@F6.getPprice<br>
                    สิ้นค้าคงเหลือ : @F6.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>