@(M1 :Pproducts,M2 :Pproducts,M3 :Pproducts,M4 :Pproducts,M5 :Pproducts,M6 :Pproducts)

<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/IKxRajO.jpg" alt="...">
            <div class="caption">
                <h4>@M1.getPname</h4>
                <h5>
                    รหัสสินค้า : @M1.getPid<br>
                    ราคา :@M1.getPprice<br>
                    สิ้นค้าคงเหลือ : @M1.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/ma1.jpg" alt="...">
            <div class="caption">
                <h4>@M2.getPname</h4>
                <h5>
                    รหัสสินค้า : @M2.getPid<br>
                    ราคา :@M2.getPprice<br>
                    สิ้นค้าคงเหลือ : @M2.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/ma2.jpg" alt="...">
            <div class="caption">
                <h4>@M3.getPname</h4>
                <h5>
                    รหัสสินค้า : @M3.getPid<br>
                    ราคา :@M3.getPprice<br>
                    สิ้นค้าคงเหลือ : @M3.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/ma3.jpg" alt="...">
            <div class="caption">
                <h4>@M4.getPname</h4>
                <h5>
                    รหัสสินค้า : @M4.getPid<br>
                    ราคา :@M4.getPprice<br>
                    สิ้นค้าคงเหลือ : @M4.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/ma4.jpg" alt="...">
            <div class="caption">
                <h4>@M5.getPname</h4>
                <h5>
                    รหัสสินค้า : @M5.getPid<br>
                    ราคา :@M5.getPprice<br>
                    สิ้นค้าคงเหลือ : @M5.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/ma5.jpg" alt="...">
            <div class="caption">
                <h4>@M6.getPname</h4>
                <h5>
                    รหัสสินค้า : @M6.getPid<br>
                    ราคา :@M6.getPprice<br>
                    สิ้นค้าคงเหลือ : @M6.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>

