<html>
    <head>
<link type="text/css" rel="stylesheet" href="assets/stylesheets/bootstrap337/css/bootstrap.css">
    </head>
    <body>
        <div class="list-group">
            <a href="/" class="list-group-item-danger"><img src="assets/images/name.png" class="img-rounded" width="262" height="80"></a>
            <a href="/mar" class="list-group-item">Marvel</a>
            <a href="/one" class="list-group-item">One Piece</a>
            <a href="/dra" class="list-group-item">Dragonball</a>
            <a href="/ble" class="list-group-item">Bleach</a>
            <a href="/fai" class="list-group-item">Fairytail</a>

        </div>


            <div class="thumbnail" style="background-color: #b9def0">
               <a href="/promo"><img src="assets/images/pro.png" class="img-rounded" alt="..."></a>
                <!--<div class="caption">
                    <p><a href="#" class="btn btn-primary" role="button">รายละเอียด</a>
                </div>-->
            </div>


        <div class="list-group">
            <a href="#" class="list-group-item">.......</a>
            <a href="#" class="list-group-item">.......</a>
            <a href="#" class="list-group-item">.......</a>
        </div>
    </body>

</html>