@(On1 :Pproducts,On2:Pproducts,On3:Pproducts,On4:Pproducts,On5:Pproducts,On6:Pproducts)
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/o1.jpg" alt="...">
            <div class="caption">
                <h4>@On1.getPname</h4>
                <h5>
                    รหัสสินค้า : @On1.getPid<br>
                    ราคา :@On1.getPprice<br>
                    สิ้นค้าคงเหลือ : @On1.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="height: 300px">
        <div class="thumbnail">
            <img src="assets/images/o2.jpg" alt="...">
            <div class="caption">
                <h4>@On2.getPname</h4>
                <h5>
                    รหัสสินค้า :@On2.getPid <br>
                    ราคา : @On2.getPprice<br>
                    สิ้นค้าคงเหลือ : @On2.getPamount
                </h5>
                <!--<p>...</p>-->
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="height: 300px">
        <div class="thumbnail">
            <img src="assets/images/o3.jpg" alt="...">
            <div class="caption">
                <h4>@On3.getPname</h4>
                <h5>
                    รหัสสินค้า : @On3.getPid<br>
                    ราคา : @On3.getPprice<br>
                    สิ้นค้าคงเหลือ : @On3.getPamount

                </h5>
               <!-- <p>...</p>-->
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/o4.jpg" alt="...">
            <div class="caption">
                <h4>@On4.getPname</h4>
                <h5>
                    รหัสสินค้า : @On4.getPid<br>
                    ราคา : @On4.getPprice<br>
                    สิ้นค้าคงเหลือ : @On4.getPamount</h5>
                    <!-- <p>...</p>-->
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/o5.jpg" alt="...">
            <div class="caption">
                <h4>@On5.getPname</h4>
                <h5>
                    รหัสสินค้า : @On5.getPid<br>
                    ราคา : @On5.getPprice<br>
                    สิ้นค้าคงเหลือ :@On5.getPamount</h5>
                    <!-- <p>...</p>-->
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/o6.jpg" alt="...">
            <div class="caption">
                <h4>@On6.getPname</h4>
                <h5>
                    รหัสสินค้า : @On6.getPid<br>
                    ราคา : @On6.getPprice<br>
                    สิ้นค้าคงเหลือ :@On6.getPamount</h5>
                    <!-- <p>ขนาดความสูง 20 ซม.</p>-->
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>