@(Pr1 :Pproducts,Pr2:Pproducts,Pr3:Pproducts,Pr4:Pproducts,Pr5:Pproducts,Pr6:Pproducts)
<div class="">

    <img src="assets/images/total.png" class="img-rounded" width="847" height="220">
</div><br>

<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/8045.jpg" alt="...">
            <div class="caption">
                <h4>@Pr1.getPname</h4>
                <h5>
                    รหัสสินค้า : @Pr1.getPid<br>
                    ราคา :@Pr1.getPprice<br>
                    สิ้นค้าคงเหลือ : @Pr1.getPamount
                </h5>

                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/13909.jpg" alt="...">
            <div class="caption">
                <h4>@Pr2.getPname</h4>
                <h5>
                    รหัสสินค้า : @Pr2.getPid<br>
                    ราคา :@Pr2.getPprice<br>
                    สิ้นค้าคงเหลือ : @Pr2.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/15175.jpg" alt="...">
            <div class="caption">
                <h4>@Pr3.getPname</h4>
                <h5>
                    รหัสสินค้า : @Pr3.getPid<br>
                    ราคา :@Pr3.getPprice<br>
                    สิ้นค้าคงเหลือ : @Pr3.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    </p>
            </div>
        </div>
    </div>
</div>

    <br>
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/IKxRajO.jpg" alt="...">
            <div class="caption">
                <h4>@Pr4.getPname</h4>
                <h5>
                    รหัสสินค้า : @Pr4.getPid<br>
                    ราคา :@Pr4.getPprice<br>
                    สิ้นค้าคงเหลือ : @Pr4.getPamount
                </h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/ma4.jpg" alt="...">
            <div class="caption">
                <h4>@Pr5.getPname</h4>
                <h5>
                    รหัสสินค้า : @Pr5.getPid<br>
                    ราคา :@Pr5.getPprice<br>
                    สิ้นค้าคงเหลือ : @Pr5.getPamount
                </h5>

                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/ma5.jpg" alt="...">
            <div class="caption">
                <h4>@Pr6.getPname</h4>
                <h5>
                    รหัสสินค้า : @Pr6.getPid<br>
                    ราคา :@Pr6.getPprice<br>
                    สิ้นค้าคงเหลือ : @Pr6.getPamount
                </h5>

                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>

