<!--ชี้ที่ภาพแล้วรูปจะขยายขึ้น-->
<style>
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
</style>
    <!--สิ้นสุด-->

<div class="clo-md-12">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="dropdown">
                    <a href="#" class="thumbnail">
                    <img src="assets/images/o5.jpg" alt="Cinque Terre" width="150" height="190">
                    </a>
                    <div class="dropdown-content">
                        <img src="assets/images/o5.jpg" alt="Cinque Terre" width="300" height="400">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <!--ชี้ที่ภาพแล้วรูปจะขยายขึ้น-->
                <div class="dropdown">
                    <a href="#" class="thumbnail">
                        <img src="assets/images/o5-3.jpg" alt="Cinque Terre" width="150" height="190">
                    </a>
                    <div class="dropdown-content">
                        <img src="assets/images/o5-3.jpg" alt="Cinque Terre" width="300" height="400">
                    </div>
                    <!--สิ้นสุด-->
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="dropdown">
                    <a href="#" class="thumbnail">
                        <img src="assets/images/o5-2.jpg" alt="Cinque Terre" width="150" height="190">
                    </a>
                    <div class="dropdown-content">
                        <img src="assets/images/o5-2.jpg" alt="Cinque Terre" width="300" height="400">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="dropdown">
                    <a href="#" class="thumbnail">
                        <img src="assets/images/o5-1.jpg" alt="Cinque Terre" width="150" height="190">
                    </a>
                    <div class="dropdown-content">
                        <img src="assets/images/o5-1.jpg" alt="Cinque Terre" width="300" height="400">
                    </div>
                </div>
            </div>
        </div>
        <p>WCF ฉลองครบรอบ20ปีวันพีช ชุดLimited ชุด 1 และ 2 WCF
            ชุดพิเศษที่จัดทำเป็นชุดการฉลองครบรอบ 20 ปีของการ์ตูนวันพีช
            เป็นชุดพิเศษในรุ่นลิมิเต็ด
            แบ่งเป็นชุดที่ 1 และชุดที่ 2
            รวมทั้งหมด 9 ตัวละคร และมีเก้าอี้ และป้ายวันพีชให้อีกด้วย<br>
            ชุดที่ 1 มี 4 ตัวละคร พร้อมเก้าอี้และป้ายชื่อ
            ชุดที่ 2 มี 5 ตัวละคร<br>
    <font color="red"> ชุดที่ 1 ราคา 600 บาท ชุดที่ 2 ราคา 700 บาท<br>
            ทั้งสองชุด 1,009 บาท </font>
        </p>
    </div>
</div>