<html>
    <head>
        <title>Sarawut</title>
    <link type="text/css" rel="stylesheet" href="assets/stylesheets/bootstrap337/css/bootstrap.css">
    </head>

    <body>


        <div class="jumbotron" style="background-color: #90A4AE">
            <div class="jumbotron"style="color: #3c3c3c">
                <center><font size="6" color="#455A64">My Profile</font>
                    <br><br><br>
                    <table  class="table" >
                       <center> <img src="assets/images/max.jpg" class="img-rounded" alt="Cinque Terre" width="300" height="300">
                        <tr>

                            <font size="5px">
                            นายศราวุฒิ  วรนาม BIS3Q รหัส 60342360108-8 <br>
                            เกิดวันพฤหัสบดี ที่ 6 กุมภาพันธ์ 2540<br>
                            บ้านเลขที่ 46 หมู่ 11 บ้านหนองแวง ตำบลหนองแก้ว อำเภอเมือง จังหวัดร้อยเอ็ด <br>
                            คติประจำใจ เดินไปข้างหน้า <br>
                                กำลังศึกษาอยู่ที่ มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น <br></font>
                        </tr>
                       </center>
                    </table>
                </center>
            </div>
        </div>


    </body>
</html>