<font size="10" color="#455A64">กรอกข้อมูลเกี่ยวกับสินค้า</font>
        <div class="jumbotron" style="background-color: #90A4AE">
            <div class="jumbotron"style="color: #3c3c3c">
                    <form action="/input" method="post" style="font-size: 20px">
                        <table  class="table" >
                        <tr>
                            <th>รหัสสินค้า</th>
                            <td>:: <Input Type="text" size="20" maxlength="20" name="Tid"></td>
                        </tr>
                        <tr>
                            <th>ชื่อสินค้า</th>
                            <td>:: <Input Type="text" size="20" maxlength="25" name="Tname"></td>
                        </tr>
                        <tr>
                            <th>หมวดหมู่สินค้า</th>
                            <td>::
                                <SELECT name="Tbrand">
                                    <OPTION SELECTED>หมวดหมู่สินค้า
                                <OPTION VALUE=MARVEL>MARVEL
                                    <OPTION VALUE=ONEPIECE>ONE PIECE
                                <OPTION VALUE=DRAGONBALL>DRAGONBALL
                                    <OPTION VALUE=BLEACH>BLEACH
                                <OPTION VALUE=FAIRYTAIL>FAIRYTAIL
                                </SELECT>
                            </td>
                        </tr>
                        <tr>
                            <th>ราคา</th>
                            <td>:: <Input Type="text" size="20" maxlength="20" name="Tprice"></td>
                        </tr><tr>
                        <th>จำนวน</th>
                        <td>::<Input Type="text" size="20" maxlength="20" name="Tamount"></td>
                    </tr>
                </table>
                        รายละเอียด<br>
                        <TEXTAREA rows="3" cols="50" name="Tdetail"></TEXTAREA><br>
                        <br>
                        <button type="submit" class="btn btn-success">SAVE</button>
                        <button type="reset" class="btn btn-danger">CENCEL</button>

        </form>

            </div>
        </div>
